@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-one: #FF635A;
    --color-two: #002E5B;
    --bg-2: #DCE8EB;
    --bg-1: #345280;

    --font-1: "Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-2: "Roboto Slab", serif;
}

*{
    box-sizing: border-box;
}

body{
    font-family: var(--font-1);
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
}

@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
}

@media (max-width: 576px){
    .container{
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}